<md-card>

  <md-card-title class="less-blue">
    <div layout="column">
      <h3>Material Design process visualization ...</h3>
      <p>Content: 50 deliverables all having the same process with 8 steps</p>
    </div>
  </md-card-title>

  <md-card-content layout="row" layout-align="space-between">
    <md-list class="deliverable-list">
      <md-list-item class="deliverable-content" ng-repeat="deliverable in $ctrl.sbModel">
        <div class="deliverable-name">
          {{deliverable.name}}
        </div>
        <div class="step" ng-repeat="step in deliverable.groupedByStep">
          <sb-task task="task" task-actions="$ctrl.taskActions" ng-repeat="task in step">
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>

  </md-card-content>

</md-card>

